<div>
    <label for="region">Filter by Region:</label>
    <select [(ngModel)]="selectedRegion" (change)="filterByRegion()">
        <option value="All">All</option>
        <option value="Asia">Asia</option>
        <option value="Europe">Europe</option>
        <option value="Africa">Africa</option>
        <option value="Americas"> Americas</option>
        <option value="Oceania">Oceania</option>
        <option value="Polar">Polar</option>
        <!-- Add more regions as needed -->
    </select>


    <input type="text" [(ngModel)]="searchQuery" placeholder="Search by country name or region">

    <div class="country-cards">
        <div class="country-card" *ngFor="let country of filteredCountries | filterCountry:searchQuery"
            (click)="goToDetail(country)">
            <img [src]="country.flags.png" alt="{{ country.name }} Flag">
            <h2>{{ country.name }}</h2>
            <p>Region: {{ country.region }}</p>
        </div>
    </div>
</div>